<!-- This home.ejs file includes the partials files, header.ejs and footer.ejs. -->
<%- include('partials/header') %>

  <div class="wrapper">
    <!-- <h1 class="mt-4">TastyTable</h1> -->
    <div class="search-section">
        <span class="lead mb-3 user-greeting">Hello <%= user.name %>! What are we in the mood for?</span>
        <!-- <img src="image.jpg" width="200" height="200"/>
        <a href="/users/logout" class="btn btn-secondary">Logout</a> -->

        <!-- Search section --> 
        <form class="search-form" action="/getSearchResults" method="GET">
            <input type="search" name="searchQuery" placeholder="Search" value="">
            <input type="submit">
        </form>
    </div>
    </div>

    <!-- Recipe grid-->
    <div class="recipe-container">
        <% for (let i=0; i<=15; i++){
            /* <!-- if image doesn't exist, recipe won't render at all. This prevents a recipe with no photo from showing --> */
            if (recipeInfo[i].image !== undefined) { %>
                
                <div class="recipe-group">
                    <div class="div-long-txt">
                        <h6 class="long"><%= recipeInfo[i].title %></h6>
                    </div>
                    <div>
                        <img src="<%= recipeInfo[i].image %>" alt="food image" height="100%" width="100%">
                    </div>
        
                    <!-- "Get Recipe" button -->
                    <form class="inline-btn" action="/getRecipe" method="GET">
                        <button type="submit" name="id" value="<%=recipeInfo[i].id %>">Get Recipe</button>
                    </form>
        
                    <!-- "Save To Favorites" button -->
                    <form class="inline-btn" action="/addToFavs" method="GET">
                        <button type="submit" name="id" value="<%=recipeInfo[i].id %>">Save To Favorites</button>
                    </form>
                </div>

            <% }
        } %>
    </div>


<%- include('partials/footer') %>